//style.scss
$navbar-background-color: #333;
$navbar-height: 80px;

$footer-background-color: #444;

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    color: $font-color;
}

.nav {
    background-color: $navbar-background-color;
    height: $navbar-height;
}

.nav ul {
    li {
        a {
            color: #fff;
            font-size: 18px;
        }
    }
}

.main {
    flex-grow: 1;
    padding: 20px;
}

.container {
    background-color: $footer-background-color;
    border-top: 1px solid #ccc;
    padding-top: 20px;
    position: relative;
}

.header {
    background-color: $navbar-background-color;
    border-bottom: 1px solid #ccc;
}

.social {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.title a h1,
.title a h2,
.title a h3,
.title a h4,
.title a h5,
.title a h6 {
    color: #fff;
}
