//style-dark.scss
@import 'variables';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../node_modules/normalize.css/normalize';
@import 'technology';
@import 'technologies';
@import 'blockquotes';
@import 'code';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');


body {
    background-color: $dark-background-color;
    color: $dark-font-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.nav {
    background-color: $dark-navbar-background-color;
    height: $navbar-height;

    ul {
        display: flex;
        justify-content: flex-end;
        padding: 0.3em 0;
        list-style: none;

        li {
            padding: 0 1em;

            a {
                color: $dark-font-alternative-color;
                font-size: 18px;
            }
        }
    }
}

.nav-toggle {
    display: none;
}

.main {
    flex-grow: 1;
    padding: 20px;
}

.container {
    background-color: $dark-footer-background-color;
    border-top: 1px solid $dark-border-color;
    padding-top: 20px;
    position: relative;

    .social {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}

.header {
    background-color: $dark-navbar-background-color;
    border-bottom: 1px solid $dark-border-color;
}

.title a {
    h1, h2, h3, h4, h5, h6 {
        color: $dark-font-alternative-color;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

    .nav ul {
        flex-direction: column;
        padding-bottom: 1em;

        li {
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        li a {
            display: block;
            padding: 0.5em 0;
        }
    }

    .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }

    .main {
        padding: 10px;
    }
}

// Ytterligare stilinställningar för mörka temat...
