//style.scss
@import 'variables';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../node_modules/normalize.css/normalize';
@import 'technology';
@import 'technologies';
@import 'blockquotes';
@import 'code';
@import 'gallery';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

html body {
    margin: 10px;
}

body {
    background-color: $light-background-color;
    color: $light-font-color;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;

}

.title {
    margin: 0.5em;
}

.header {
    background-color: $light-navbar-background-color;
    border-bottom: 1px solid $light-border-color;
    flex-shrink: 0; 
}

.nav {
    height: $navbar-height;
    background-color: $light-navbar-background-color;

    ul {
        display: flex;
        justify-content: flex-end;
        padding: 0.3em 0;
        list-style: none;

        li {
            padding: 0 1em;

            a {
                color: $light-font-alternative-color;
                font-size: 18px;
            }
        }
    }
}

.nav li a {
    transition: color 0.3s ease, transform 0.3s ease;
    color: $light-font-alternative-color;
    display: inline-block;
    transform: translateY(0);
}

.nav li a:hover, .nav li a:focus {
    color: darken($light-font-alternative-color, 20%);
    transform: translateY(-5px);
}

.nav li.active a {
    color: $active-text-color;
    font-weight: bold;
}

.nav li.active a:hover, .nav li.active a:focus {
    color: $active-text-color;
    transform: translateY(0);
    cursor: default;
}

.nav-toggle {
    display: none;
}

.main {
    flex-grow: 1; 
    padding: 20px;
}

.container {
    background-color: $light-footer-background-color;
    border-top: 1px solid $light-border-color;
    padding-top: 20px;
    position: relative;

    .social {
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}

.title a {
    h1, h2, h3, h4, h5, h6 {
        color: $light-font-alternative-color;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        padding-top: 0px; 
    }

    .nav {

        padding-bottom: 200px; 

        ul {
            flex-direction: column;
            align-items: flex-start; 
            width: 100%; 
            margin-top: 0; 

            li {
                width: 100%; 
                margin-bottom: 10px; 
            }

            li a {
                display: block;
                padding: 0.5em 1em;
            }
        }
    }

    .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }

    .main {
        padding: 10px;
        margin-top: 0; 
    }
}
