//variables.scss
$light-background-color: #f5f5f5;
$light-font-color: #0f0f0f; 
$light-font-alternative-color: #000; 
$light-navbar-background-color: #fff; 
$light-footer-background-color: #eee;
$light-border-color: #ddd;

$dark-background-color: #2a2a2a;
$dark-font-color: #f1f1f1;
$dark-font-alternative-color: #999;
$dark-navbar-background-color: #1e1e1e;
$dark-footer-background-color: #242424;
$dark-border-color: #3a3a3a;

$navbar-height: 40px;

$border-color: #ccc; 
$code-background-color: #f5f5f5; 

$primary-color: #dce1e7; 

$active-text-color: #003152; 
