$font-color: rgb(223, 223, 223);
$font-alternative-color: #fff;
$background-color: #797979;
$background-alternative-color: #e0fbfc;
$navbar-background-color: #333;
$footer-background-color: #444;
$code-background-color: #f5f5f5;
$border-color: #ccc;

$navbar-height: 80px;
