{#index#}
{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}
        <img class="main-image" src="assets/img/inte_jag.jpg" alt="Inte jag på bilden">

    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>